<!-- <h1>Homepage</h1>
<h3>Login/Logout/Registration</h3> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  </head>
  <body>
    <header>
      <h1>Homepage</h1>
    </header>
    <body>
      <p>user_id: {{user_id}}</p>
      <p>first_name: {{first_name}}</p>
      <p>last_name: {{last_name}}</p>
      <p>email: {{email}}</p>
      <p>username: {{username}}</p>
      <p>password: {{password}}</p>
    </body>
  </body>
</html>
