<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>testing</title>
  </head>
  <body>
    <h1>Item Status</h1>
    <h3>Name: {{object.name}}</h3>
    <h3>Current Status: {{object.state}}</h3>

    <form method = "post" action = "/{{id.user_id}}/{{id.object_id}}/update_status">
        In-Possession <input type = "radio" name = "item_status" value = 2>
        <br />
        Found <input type = "radio" name = "item_status" value = 1>
        <br />
        Lost <input type = "radio" name = "item_status" value = 0><br><br>
        <br />
        <input type="hidden" name="user" value="{{id.user_id}}"/>
        <input type="hidden" name="object" value="{{id.object_id}}"/>
        <input type = "submit" value = "Update Status">
    </form>

    <h1>Testing QR code</h1>
    <div id="qrcode"></div>

    <br>
    <br>

    <form action="/{{id.user_id}}">
      <input type="submit" value="Back to homepage"/>
    </form>
    <script type="text/javascript">
      new QRCode(document.getElementById("qrcode"), "https://www.google.com");
    </script>
  </body>
</html>
